<h1><%= flash[:correct] %></h1>
<h2><%= flash[:feedback] %></h2>

<img src="<%=@question.values.third%>" alt="a hilarious GIF" height="600" width="600">
<img src="<%=@question.values.fourth%>" alt="a hilarious GIF" height="600" width="600">
<br /><br />    
<%= link_to submit_tag("Continue"), "/game/#{@game_id}/question/#{@next_question}" %>