<h2>Name: <%= @user.name %></h2>
<h2>Favorite Movie: <%= @user.favorite_movie %></h2>
<h2>Gif That Best Represents You: <p><img src="<%= @user.gif_that_represents_you %>" alt="" height="600" width="600"></p> 

<% if @user.name == session[:username] %>
<%= form_with(url: "/games", method: "post") do %>
    <%= hidden_field_tag "user[user_id]", @user.id%>
    <select name="question[genre]">
        <% Question.all_genres.each do |genre| %>
            <option value="<%= genre %>"><%= genre %></option>
        <% end %>
        <option value="Random">Random</option>
    </select>
        
    <%= submit_tag("Start a new game") %>
    <% end %>
<% end %>